.landing {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.select {
  margin-top: 10px;
}
.buttons {
  margin-top: 20px;
  width: 250px;
  display: flex;
  justify-content: space-between;
}
.buy {
  border: none;
  padding: 4px;
  border-radius: 8px;
  max-width: 100px;
  height: 60px;
  background-color: rgb(40, 165, 40);
}
.sell {
  border: none;
  padding: 4px;
  border-radius: 8px;
  max-width: 100px;
  height: 60px;
  background-color: rgb(252, 56, 56);
}
.p {
  color: #ffffff;
}